<mat-card class="item">
  <div class="category-container">
    <div class="category">
      {{ data.task.category }}
    </div>
    <div class="prio">
      <mat-icon *ngIf="data.task.priority === 'urgent'" class="urgent">keyboard_double_arrow_up</mat-icon>
      <mat-icon *ngIf="data.task.priority === 'medium'" class="medium">keyboard_double_arrow_up</mat-icon>
      <mat-icon *ngIf="data.task.priority === 'low'" class="low">keyboard_double_arrow_down</mat-icon>
    </div>
  </div>
  <h4>{{ data.task.title }}</h4>
  <div class="description">
    {{ data.task.description }}
  </div>
  <div class="subtask-container" [ngStyle]="{ 'display': (data.task.subtasks && data.task.subtasks.length > 0) ? 'block' : 'none' }">
    <b>Subtasks: </b>
    <ul>
      <li *ngFor="let subtask of data.task.subtasks">{{ subtask }}</li>
    </ul>
  </div>
  <div>
    <b>Due date: </b>
    <ul>
      <li>{{ data.task.dueDate?.toDate() | date: 'yyyy-MM-dd' }}</li>
    </ul>
  </div>
  <div>
    <b>Assigned to: </b>
    <ul>
      <li *ngFor="let assignment of data.task.assignments">{{ assignment }}</li>
    </ul>
  </div>
  <div class="btn-container" mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close()">
      Close
    </button>
    <button mat-raised-button (click)="onTaskEdit()">
      Edit
    </button>
  </div>
</mat-card>
