<mat-card class="item">
  <h4>Title: {{ data.task.title }}</h4>
  <p>
    Description: {{ data.task.description }}
  </p>
  <p>
    Category: {{ data.task.category }}
  </p>
  <p>
    Priority: {{ data.task.priority }}
  </p>
  <p>
    Subtasks: {{ data.task.subtasks }}
  </p>
  <p>
    Due date: {{ data.task.dueDate?.toDate() | date: 'yyyy-MM-dd' }}
  </p>
  <p>
    Assigned to: {{ data.task.assignments }}
  </p>
  <div class="btn-container" mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close()">
      Close
    </button>
    <button mat-raised-button (click)="onTaskEdit()">
      Edit
    </button>
  </div>
</mat-card>
