/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

mat-toolbar, mat-toolbar-row {
  height: 56px;
  padding-left: 40px;

  @media (max-width: 750px) {
    padding-left: 16px;
  }
}

/* Sidenav */
.mat-drawer-container {
  height: 100vh;

  @media (max-width: 750px) {
    height: calc(100vh - 56px);
  }

}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;

  @media (max-width: 750px) {
    display: none;
  }
}

.mobile-hide {
  @media (max-width: 750px) {
    display: none;
    cursor: pointer;
  }
}

.desktop-hide {
  @media (min-width: 750px) {
    display: none;
  }
}

.logo-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 120%;
  height: 100px;
  padding-inline: 26px;
  cursor: pointer;

  @media (max-width: 750px) {
    padding-inline: 4px;
    height: 32px;
    margin-right: 16px;
  }
}

/* Sidenav-Menu */
.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 12px;
    padding-inline: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 16px;
    }

    &:hover{
      background-color: rgba(190, 190, 190, 0.114);
    }

    &:focus{
      outline: none;
    }
  }
}

.router-link-active {
  background-color: var(--themeColorLight);
}

/* Toolbar - color-picker */
.color-picker {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(87, 87, 87);
  padding-top: 8px;
}

.option-1-background {
  background: var(--themeColor)!important;
  color: white;
}

.option-2-background {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  color: white;
}

.option-3-background {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.gradient-title {
  font-size: 24px;
  background: -webkit-linear-gradient(#ffffff, rgb(160, 164, 181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile navbar */
.mobile-navbar {
  display: none;

  @media (max-width: 750px) {
    height: 56px!important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--themeColor);
    color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }
}

.mobile-navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer !important;
}
