<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer
    #drawer class="sidenav" mode="side"
    [ngClass]="{
      'option-1-background': selectedOption === '1',
      'option-2-background': selectedOption === '2',
      'option-3-background': selectedOption === '3'
    }"
  >
    <div class="logo-container">
      <img class="logo" src="assets/img/logo.png" routerLink="/">
    </div>
    <ul class="menu-items">
      <li matTooltip="Show overview" routerLink="/summary" routerLinkActive="router-link-active"><mat-icon>dashboard</mat-icon>Summary</li>
    </ul>
    <ul class="menu-items">
      <li matTooltip="Show board" routerLink="/board" routerLinkActive="router-link-active"><mat-icon>dashboard_customize</mat-icon>Board</li>
    </ul>
    <ul class="menu-items">
      <li matTooltip="Show task-input" routerLink="/addtask" routerLinkActive="router-link-active"><mat-icon>task</mat-icon>Add Task</li>
    </ul>
    <ul class="menu-items">
      <li matTooltip="Show contacts" routerLink="/contacts" routerLinkActive="router-link-active"><mat-icon>group</mat-icon>Contacts</li>
    </ul>
  </mat-drawer>
  <div>
    <p>

      <mat-toolbar [ngClass]="{
        'option-1-background': selectedOption === '1',
        'option-2-background': selectedOption === '2',
        'option-3-background': selectedOption === '3'
        }"
      >

        <img class="desktop-hide logo" src="assets/img/logo.png" routerLink="/">
        <button matTooltip="Show overview" routerLink="/summary" routerLinkActive="router-link-active" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>dashboard</mat-icon>
        </button>
        <button matTooltip="Show board" routerLink="/board" routerLinkActive="router-link-active" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>dashboard_customize</mat-icon>
        </button>
        <button matTooltip="Show task-input" routerLink="/addtask" routerLinkActive="router-link-active" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>task</mat-icon>
        </button>
        <button matTooltip="Show contacts" routerLink="/contacts" routerLinkActive="router-link-active" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>group</mat-icon>
        </button>
        <!-- Toolbar drawer icon -->
        <button
          matTooltip="Toggle sidebar"
          mat-icon-button
          (click)="drawer.toggle()"
          class="mobile-hide"
        >
          <mat-icon class="IconColor" *ngIf="!drawer.opened">menu</mat-icon>
          <mat-icon class="IconColor" *ngIf="drawer.opened">arrow_back_ios</mat-icon>
        </button>
        <!-- Toolbar Title -->
        <span class="mobile-hide" routerLink="/">Kanban Project Management</span>
        <span class="spacer"></span>
        <button [matMenuTriggerFor]="menu" #menuTrigger matTooltip="Open menu" matTooltip="Logout" mat-icon-button class="example-icon">
          <mat-icon>settings</mat-icon>
        </button>
        <button (click)="onLogout()" matTooltip="Logout" mat-icon-button class="example-icon">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <!-- Insert content-->
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<!-- Dialog-menu-->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openProfile()">Profile</button>
  <button mat-menu-item (click)="openDialogLegal()">Legal</button>
  <button mat-menu-item (click)="openDialogHelp()">Help</button>
  <!-- Change color of toolbar -->
  <mat-radio-group [(ngModel)]="selectedOption" class="color-picker" aria-label="Select an option">
    <mat-radio-button value="1">Theme 1</mat-radio-button>
    <mat-radio-button value="2">Theme 2</mat-radio-button>
    <mat-radio-button value="3">Theme 3</mat-radio-button>
  </mat-radio-group>
</mat-menu>
