<div class="content-container">
    <!-- Toolbar -->
    <mat-toolbar>
      <button class="btn-hide" mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="profile-pic" src="/assets/img/logo.png" />
      <span class="example-spacer"></span>
      <mat-slide-toggle [formControl]="switchTheme"><span>Dark Mode</span></mat-slide-toggle>
      <button [matMenuTriggerFor]="menu" #menuTrigger matTooltip="Open menu" matTooltip="Logout" mat-icon-button class="example-icon">
        <mat-icon>settings</mat-icon>
      </button>
      <!-- Show user name -->
      @if(authService.currentUserSig() == null) {
        <div>
          <a routerLink="/login">
            <mat-icon class="mat-18">login</mat-icon>
          </a>
        </div>
      }
      @if(authService.currentUserSig()) {
        <div>
          {{authService.currentUserSig()?.username}}
          <span (click)="onLogout()">
            <mat-icon class="mat-18">logout</mat-icon>
          </span>
        </div>
      }
    </mat-toolbar>
    <!-- Desktop sidenav -->
    <mat-sidenav-container>
      <mat-sidenav class="sidenav-hide" opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
      </mat-sidenav>
      <!-- Content -->
      <mat-sidenav-content [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!-- Mobile navbar -->
  <app-custom-mobilenav></app-custom-mobilenav>
  <!-- Settings -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">Logout</button>
    <button mat-menu-item (click)="openDialogProfile()">Profile</button>
    <button mat-menu-item (click)="openDialogLegal()">Legal</button>
    <button mat-menu-item (click)="openDialogHelp()">Help</button>
  </mat-menu>
  