<div class="list-container">
  <ul>
    <li *ngFor='let data of contactList | async; let id = index'>
      <h3 class="alphabet-title">{{ data.lastName[0] }}</h3>
      <div class="contact-underline"></div>
      <div class="contacts-box">
        <div class="initials-circle" [style.background]="data.color">
          {{ data.lastName[0] }}{{ data.firstName[0] }}
        </div>
        <div class="contacts-info">
          <span>{{ data.lastName }}, {{ data.firstName }}</span>
          <span>{{ data.email || 'n/a' }}</span>
        </div>
    </div>
    </li>
  </ul>
</div>
