mat-drawer-container {
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;

  .title-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  h2 {
    margin: 0;
  }
}

.add-user-btn {
  background-color: rgb(255, 255, 255);

  &:hover {
    filter: brightness(1.25);
    cursor: pointer;
  }
}

.add-user-btn {
  position: absolute;
  bottom: 56px;
  right: 0;
  margin: 20px;
}

.toggle-btn {
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: var(--themeColorBlue);
}

/* Mobile view */
@media(max-width:1000px) {

  .sidenav {
    width: 100%;
  }

  .add-user-btn {
    bottom: 50px;
  }
}
