<mat-drawer-container class="mat-drawer-container" autosize>
  <!-- Contact-card -->
  <div class="router-container">
    <div class="right-container">
      <div class="title-container">
        <!-- Toggle button + title -->
        <div class="title-box">
          <h2>Manage Contacts</h2>
          <button
            matTooltip="Toggle sidebar"
            mat-icon-button
            (click)="drawer.toggle()"
            class="mobile-hide"
          >
            <mat-icon class="IconColor" *ngIf="!drawer.opened">arrow_forward_ios</mat-icon>
            <mat-icon class="IconColor" *ngIf="drawer.opened">arrow_back_ios</mat-icon>
          </button>
        </div>
        <!-- Add button -->
        <button (click)="openDialogContact()" class="add-user-btn" mat-fab color="primary" matTooltip="Add contact">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <app-contact-card></app-contact-card>
    </div>
  </div>
  <!-- Contact-list -->

  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="router-container">

    <div class="left-container">
      <app-contact-list></app-contact-list>
    </div>
  </div>

  </mat-drawer>
</mat-drawer-container>
