:host {
  display: block;
}

.item {
  background: rgb(190, 222, 235);
  gap: 5px;
  width: 250px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-inline: 10px;
  padding: 18px 19px;
  border-radius: 8px!important;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04) !important;
  cursor: pointer;

  p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

.edit-icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;

  button {
    background: transparent;
    color: var(--themeColor);
    cursor: pointer;
  }
}
