<!-- Show task content -->
<mat-card class="item" *ngIf="task">
  <h4 (click)="onClickShow()">Title: {{ task.title }}</h4>
  <p>
    Description: {{ task.description }}
  </p>
  <p>
    Category: {{ task.category }}
  </p>
  <p>
    Priority: {{ task.priority }}
  </p>
  <p>
    Subtasks: {{ task.subtasks }}
  </p>
  <p
    *ngIf="task.dueDate">Due Date: {{ task.dueDate.toDate() | date:'yyyy-MM-dd' }}
  </p>
  <p>
    Assigned to: {{ task.assignments }}
  </p>
  <div class="edit-icon" (click)="onTaskEdit()">
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-card>
