.content-container {
  height: 100vh;
  height: 100svh;
}

mat-toolbar {
  position: relative;
  z-index: 5;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

.example-spacer {
  flex: auto 1 1;
}

.profile-pic {
  height: 40px;
  display: none;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/* Responsive view */
@media only screen and (max-width: 600px) {
  .content-container {
    height: 100svh;
  }

  .mat-toolbar {
    position: sticky;
    top: 0;
  }


  .btn-hide {
    display: none;
  }

  .sidenav-hide {
    width: 0px !important;
  }

  .profile-pic {
    display: unset;
  }

  mat-sidenav-container {
    height: calc(100% - 114px);
    z-index: 1; /* Add this line */
  }

  mat-sidenav-content {
    margin-left: 0 !important;
  }
}
