.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;

  h2 {
    margin: 0;
  }
}

.mat-mdc-card-header {
  justify-content: flex-start;
  padding: 8px 24px 8px 24px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}
