<div class="router-container">
  <div class="title-container">
    <h2>Summary</h2>
    <div class="vertical-line"></div>
    <div class="headline">Everything in a nutshell</div>
  </div>

  <div class="container">
    <div class="row1">
      <div class="info-box" routerLink="/board">
        <div class="info-box-content">
          <h4>Tasks in Board</h4>
          <div>6</div>
        </div>
      </div>
      <div class="info-box" routerLink="/board">
        <div class="info-box-content">
          <h4>Tasks in Progress</h4>
          <div>6</div>
        </div>
      </div>
      <!--
      <div class="info-box">
        <div>
          <h4>Awaiting Feedback</h4>
        </div>
      </div>
      -->
    </div>

    <div class="row2">
      <div class="info-box flex" routerLink="/board">
        <div class="info-box-content">
          <span><mat-icon class="urgent">keyboard_double_arrow_up</mat-icon></span>
        </div>
        <div class="info-box-content">
          <h4>Urgent</h4>
          <span>6</span>
        </div>
      </div>
    </div>

    <div class="row3">
      <div class="info-box flex" routerLink="/board">
        <div class="info-box-content">
          <span><mat-icon>edit</mat-icon></span>
        </div>
        <div class="info-box-content">
          <h4>To Do</h4>
          <span>6</span>
        </div>
      </div>
      <div class="info-box flex" routerLink="/board">
        <div class="info-box-content">
          <span><mat-icon class="done">done</mat-icon></span>
        </div>
        <div class="info-box-content">
          <h4>Done</h4>
          <span>6</span>
        </div>
      </div>
  </div>

