<div class="router-container">
  <div class="title-container">
    <h2>Summary</h2>
    <div class="vertical-line"></div>
    <div class="headline">Everything in a nutshell</div>
  </div>

  <!-- Summary Grid -->
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1">
    <mat-grid-tile>
      <div class="info-box">HELLO1</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-box">HELLO2</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-box">HELLO3</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-box">HELLO4</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
