<div class="router-container">
  <div class="title-container">
    <h2>Summary</h2>
    <div class="vertical-line"></div>
    <div class="headline">Everything in a nutshell</div>
  </div>

  <div class="container">
    <div class="row1">
      <div class="info-box">
        <div>
          <h4>Tasks in Board</h4>
        </div>
      </div>
      <div class="info-box">
        <div>
          <h4>Tasks in Progress</h4>
        </div>
      </div>
      <!--
      <div class="info-box">
        <div>
          <h4>Awaiting Feedback</h4>
        </div>
      </div>
      -->
    </div>

    <div class="row2">
      <div class="info-box">
        <div>
          <h4>Urgent</h4>
        </div>
      </div>
    </div>

    <div class="row3">
      <div class="info-box">
        <div>
          <h4>To-Do</h4>
        </div>
      </div>
      <div class="info-box">
        <div>
          <h4>Done</h4>
        </div>
      </div>
    </div>
  </div>

