<div *ngIf="selectedContact">
  <div class="contacts-box">
    <div class="initials-circle" [style.background]="selectedContact.color">
      {{ selectedContact.lastName[0] }} {{ selectedContact.firstName[0] }}
    </div>
    <div>
      <h3>{{ selectedContact.lastName }}, {{ selectedContact.firstName }}</h3>
      + Add Task
    </div>
  </div>
  <h4>
    Contact information
    <button mat-raised-button (click)="onEdit()">Edit Contact</button>
  </h4>
  <div class="contact-infotext">
    <h5><b>Email:</b></h5>
    <span>{{ selectedContact.email || "n/a" }}</span>
  </div>
  <div class="contact-infotext">
    <h5><b>Phone:</b></h5>
    <span>{{ selectedContact.phone || "n/a" }}</span>
  </div>
  <div class="contact-infotext">
    <h5><b>Team:</b></h5>
    <span>{{ selectedContact.team || "n/a" }}</span>
  </div>
</div>


