<div *ngIf="selectedContact">
  <div class="contacts-box">
    <div class="initials-circle" [style.background]="selectedContact.color">
      {{ selectedContact.lastName[0] }} {{ selectedContact.firstName[0] }}
    </div>
    <div>
      <h3>{{ selectedContact.lastName }}, {{ selectedContact.firstName }}</h3>
      + Add Task
    </div>
  </div>
  <h4>
    Contact information
    <button mat-raised-button (click)="onEdit()">Edit Contact</button>
  </h4>
  <div>Email: {{ selectedContact.email || "n/a" }}</div>
  <div>Phone: {{ selectedContact.phone || "n/a" }}</div>
  <div>Team: {{ selectedContact.team || "n/a" }}</div>
</div>


