.contacts-box {
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 24px;

  .initials-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--themeColor);
    color: #fff;
    font-size: 30px;
    box-shadow: var(--boxShadow);
  }
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

.contact-infotext {
  padding-bottom: 32px;
}

button {
  margin-left: 24px;
}
