<form [formGroup]="userForm">
  <div mat-dialog-content>
    <div class="field-container">
      <mat-card-subtitle>First Name</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Add first name</mat-label>
        <input
          type="text"
          [disabled]="loading"
          formControlName="firstName"
          matInput
          placeholder="First Name"
          class="form-control"
        />
        <mat-icon matSuffix>verified_user</mat-icon>
        <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="error-message">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-card-subtitle>Last Name</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Add last name</mat-label>
        <input
          type="text"
          [disabled]="loading"
          formControlName="lastName"
          matInput
          placeholder="Last Name"
          class="form-control"
        />
        <mat-icon matSuffix>verified_user</mat-icon>
        <mat-error *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-card-subtitle>Email</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Add email</mat-label>
        <input
          type="text"
          [disabled]="loading"
          formControlName="email"
          matInput
          placeholder="Email"
          class="form-control"
        />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-card-subtitle>Phone</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Add phone n°</mat-label>
        <input
          type="text"
          [disabled]="loading"
          formControlName="phone"
          matInput
          placeholder="Phone"
          class="form-control"
        />
        <mat-icon matSuffix>call</mat-icon>
        <mat-error *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched">
          Phone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-card-subtitle>Team</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Select a team</mat-label>
        <input
          type="text"
          [disabled]="loading"
          formControlName="team"
          matInput
          placeholder="Team"
          class="form-control"
        />
        <mat-icon matSuffix>group</mat-icon>
        <mat-error *ngIf="userForm.controls['team'].invalid && userForm.controls['team'].touched">
          Team is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-card-subtitle>Color</mat-card-subtitle>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Pick a color</mat-label>
        <input
          type="color"
          [disabled]="loading"
          formControlName="color"
          matInput
          placeholder="Color"
          class="form-control"
        />
        <mat-icon matSuffix>palette</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="btn-container" mat-dialog-actions>
    <button mat-raised-button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button [disabled]="!userForm.valid" mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
  </div>
</form>
