<div class="router-container">
  <div class="title-container">
    <h2>Manage Tasks</h2>
  </div>
    <div class="left-container">
      <form [formGroup]="taskForm">
        <div mat-dialog-content>
          <!-- Add title -->
          <div>
            <mat-form-field class="mr-16" appearance="outline">
              <mat-label>Add title</mat-label>
              <input
                type="text"
                [disabled]="loading"
                formControlName="title"
                matInput
                placeholder="Title"
                class="form-control"
              />
              <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
              Title is required
            </mat-error>
          </div>
          <!-- Add description -->
          <div>
            <mat-form-field class="mr-16" appearance="outline">
              <mat-label>Add description</mat-label>
              <input
                type="text"
                [disabled]="loading"
                formControlName="description"
                matInput
                placeholder="Description"
                class="form-control"
              />
              <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" class="error-message">
              Description is required
            </mat-error>
          </div>
          <!-- Select category -->
          <div>
            <mat-form-field class="mr-16" appearance="outline">
              <mat-label>Select category</mat-label>
              <mat-select [disabled]="loading" formControlName="category">
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="Finance">Finance</mat-option>
                <mat-option value="Marketing">Marketing</mat-option>
                <mat-option value="Sales">Sales</mat-option>
                <mat-option value="Production">Production</mat-option>
              </mat-select>
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('category')?.invalid && taskForm.get('category')?.touched" class="error-message">
              Category is required
            </mat-error>
          </div>
          <!-- Select assignment -->
          <div>
            <mat-form-field class="mr-16" appearance="outline">
              <mat-label>Assign task</mat-label>
              <mat-select [disabled]="loading" formControlName="assignments" multiple>
                <mat-option *ngFor="let assignment of assignmentList" [value]="assignment">
                  {{ assignment }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('assignments')?.invalid && taskForm.get('assignments')?.touched" class="error-message">
              Assignment is required
            </mat-error>
          </div>
          <!-- Select due date -->
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Define due date</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dueDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" class="error-message">
              Deadline is required
            </mat-error>
          </div>
          <!-- Add priority -->
          <div>
            <mat-button-toggle-group name="priority" aria-label="Priority" formControlName="priority">
              <mat-button-toggle value="urgent">Urgent</mat-button-toggle>
              <mat-button-toggle value="medium">Medium</mat-button-toggle>
              <mat-button-toggle value="low">Low</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <!-- Add subtasks -->
          <div>
            <mat-form-field class="mr-16" appearance="outline">
              <mat-label>Add subtasks</mat-label>
              <input
                type="text"
                [disabled]="loading"
                formControlName="subtasks"
                matInput
                placeholder="Subtasks"
                class="form-control"
              />
              <mat-icon matSuffix>subtasks</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="taskForm.get('subtasks')?.invalid && taskForm.get('subtasks')?.touched" class="error-message">
              Subtasks is required
            </mat-error>
          </div>
        <!-- End of inputs-->
        </div>

        <div mat-dialog-actions>
          <!--<button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>-->
          <button [disabled]="!taskForm.valid" mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
        </div>
      </form>
</div>
