/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* or optional */
}

:root {
  --themeColor:#2A3647; /* #000c50; */
  --themeColorBlue: #29ABE2;
  --themeColorLight: rgba(190, 190, 190, 0.114);
  --themeColorWhite: rgb(255, 255, 255);
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-inline: auto;
  user-select: none;
  max-width: 1280px;
  background-color: var(--themeColorBlue);
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden !important;

}

.router-container {
  padding-top: 20px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 40px;

  @media (max-width: 750px) {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 80px;
  }
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover {
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


h2 {
  font-size: 36px!important;
}

h3 {
  font-size: 24px!important;
}

h4 {
  font-size: 20px!important;
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0 0 0 0!important;
}

/* Design scrollbar */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--themeColor);
  border-radius: 5px;
}

/* For Firefox */
* {
  scrollbar-color: var(--themeColor) #f1f1f1;
  scrollbar-width: thin;
}

mat-error {
  font-size: 12px;
}

