<form [formGroup]="taskForm">
  <div class="form-container" mat-dialog-content>
    <!-- Left container -->
    <div class="left-container">
      <!-- Add title -->
      <div class="field-container">
        <mat-card-title>Title</mat-card-title>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>Add title</mat-label>
          <input
            type="text"
            [disabled]="loading"
            formControlName="title"
            matInput
            placeholder="Title"
            class="form-control"
          />
          <mat-icon matSuffix>edit</mat-icon>
          <mat-error *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Add description -->
      <div class="field-container">
        <mat-card-title>Description</mat-card-title>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>Add description</mat-label>
          <textarea
            type="text"
            [disabled]="loading"
            formControlName="description"
            matInput
            placeholder="Description"
            class="form-control"
          ></textarea>
          <mat-icon matSuffix>edit</mat-icon>
          <mat-error *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" class="error-message">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Select category -->
      <div class="field-container">
        <mat-card-title>Category</mat-card-title>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>Select category</mat-label>
          <mat-select [disabled]="loading" formControlName="category">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Finance">Finance</mat-option>
            <mat-option value="Marketing">Marketing</mat-option>
            <mat-option value="Sales">Sales</mat-option>
            <mat-option value="Production">Production</mat-option>
          </mat-select>
          <mat-error *ngIf="taskForm.get('category')?.invalid && taskForm.get('category')?.touched" class="error-message">
            Category is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Select assignment -->
      <div class="field-container">
        <mat-card-title>Assignment</mat-card-title>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>Assign task</mat-label>
          <mat-select [disabled]="loading" formControlName="assignments" multiple>
            <mat-option *ngFor="let assignment of assignmentList" [value]="assignment">
              {{ assignment }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="taskForm.get('assignments')?.invalid && taskForm.get('assignments')?.touched" class="error-message">
            Assignment is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Right container -->
    <div class="right-container">
      <!-- Select due date -->
      <div class="field-container">
        <mat-card-title>Due date</mat-card-title>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Define due date</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" class="error-message">
            Deadline is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Add priority -->
      <div class="field-container">
        <mat-card-title>Priority</mat-card-title>
        <mat-button-toggle-group name="priority" aria-label="Priority" formControlName="priority">
          <mat-button-toggle value="urgent" class="prio urgent-prio">
            <div class="prio">Urgent</div>
          </mat-button-toggle>
          <mat-button-toggle value="medium" class="prio medium-prio">
            <div class="prio">Medium</div>
          </mat-button-toggle>
          <mat-button-toggle value="low" class="prio low-prio">
            <div class="prio">Low</div>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!-- Add subtasks -->
      <div class="field-container">
        <mat-card-title>Subtask</mat-card-title>
        <mat-form-field class="example-chip-list" class="mr-16" appearance="outline">
          <mat-label>Add a subtask</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter subtask">
            @for (subtask of subtaskList; track subtask) {
              <mat-chip-row (removed)="remove(subtask)">
                {{subtask}}
                <button matChipRemove [attr.aria-label]="'remove ' + subtask">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
            <input placeholder="New subtask..."
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                  formArrayName="subtasks"/>
          </mat-chip-grid>
          <mat-icon matSuffix>add</mat-icon>
        </mat-form-field>
      </div>
      <!-- Status -->
      <div class="field-container">
        <mat-radio-group aria-label="Select an option" formControlName="status">
          <mat-radio-button value="todo">To do</mat-radio-button>
          <mat-radio-button value="inProgress">In progress</mat-radio-button>
          <mat-radio-button value="done">Done</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- End of inputs-->
      <div class="btn-container" mat-dialog-actions>
        <!--<button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>-->
        <button mat-raised-button (click)="resetForm()" cdkFocusInitial>Clear</button>
        <button mat-raised-button [disabled]="!taskForm.valid" (click)="onSubmit()" cdkFocusInitial>Save</button>
      </div>
    </div>
  </div>
</form>
